* {
    cursor: none;
  }
  
  body {
    overflow: hidden;
  }
  
  .field {
    display: flex;
  }
  
  .cell {
    width: 115px;
    height: 115px;
    background-color: #acf8f2;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 3px;
  }
  
  .goblin {
    width: 112px;
    height: 112px;
    background-image: url('../img/goblin.png');
    background-repeat: no-repeat;
  }
  
  .cursor {
    position: absolute;
    width: 90px;
    height: 90px;
    background-image: url('../img/thumb.png');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
  }